<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ea.nfsmw">

    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x401000" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:label="Need for Speed: Most Wanted"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hasCode="true"
        android:theme="@style/Theme.NFSMW.Title"
        android:requestLegacyExternalStorage="true"
        android:extractNativeLibs="true"
        android:largeHeap="true">

        <!-- Tela de Título Fullscreen Adaptável -->
        <activity
            android:name="com.ea.nfsmw.TitleActivity"
            android:label="Need for Speed: Most Wanted"
            android:theme="@style/Theme.NFSMW.Title"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|uiMode"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.GAME" />
            </intent-filter>
        </activity>

        <!-- Atividade Nativa do Jogo (Xenos Vulkan NDK + VirtualControlsView) -->
        <activity
            android:name="com.ea.nfsmw.GameActivity"
            android:label="Need for Speed: Most Wanted"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|uiMode"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleInstance"
            android:exported="true">

            <!-- Name of the native library without lib prefix or .so extension -->
            <meta-data android:name="android.app.lib_name" android:value="nfsmw" />
        </activity>
    </application>
</manifest>
